<div>
	{{>header}}
	<div class="wrapper">
		{{>sidebar}}

		<div id="content" class="container-fluid">
			{{#if errorMsg}}
				{{>error}}
			{{/if}}
			{{#if successMsg}}
				{{>success}}
			{{/if}}
			<div class="m-3 p-3 mt-4">
				<form method="POST" action="/quiz/create-question" id="add-student" enctype="multipart/form-data">
				
						<div class="d-flex justify-content-center">
							<div style="width: 250px;" >
							  {{#select data.topic}}
								<select name="topic" required class="form-select select2-single">
										<option value="">Category Name</option>
										{{#each topicList}}
											<option value="{{this.categoryName}}" >{{this.categoryName}}</option>
										{{/each}}
								</select>
							  {{/select}}
						</div>
						</div>
						
						<hr>		
					<div class="row">
						<div class="col">
							<div class="">
								<div class="form-floating mb-3">
									<input  name="itemName" required type="text"
										class="form-control" id="fullName">
									<label for="fullName">Item Name</label>
								</div>
						     </div>
							 <div class="">
								<div class="form-floating mb-3">
									<input  name="itemPrice" required type="text" class="form-control"
										id="mobile">
									<label for="mobile">Item Price(Rs)</label>
								</div>
						     </div>

							
								
						</div>
						<div  class="col d-flex flex-column justify-content-between">
							<div class="mb-3">
								<textarea id="question" name="question" rows="5" cols="26" required type="text" class="form-control "placeholder="Write item Description" aria-describedby="sizing-addon2"></textarea>
								{{!-- <input   name="question" required type="text" class="form-control" id="question"> --}}
								{{!-- <label for="question">Question</label> --}}
							</div>
							<div class="row d-flex justify-content-between align-items-end flex-row-reverse">
								{{!-- <button type="button" style="height: 40px;margin-left:2px;" class="btn col-md-4 col-xs-12  col btn-danger ">Delete</button> --}}
								<div class="col">
								<label for="formFile" class="form-label">Upload item Image</label>
								<input class="form-control" name="1" type="file" id="formFile">
								</div>
							</div>
							{{!-- <h7>Choose one option only</h7> --}}
						{{!-- {{#for 1 4 1}}
							<div class="input-group ">
							<div class="input-group-prepend">
								<div class="input-group-text">
							
									<input  type="radio" value="{{this}}" name="answer" id="1" placeholder="{{this}}"  aria-label="Checkbox for following text input">
								
								
								<label style="margin-left: 3px ;" for="option1">Option {{this}}</label>
								</div>
							</div>
						
							<input required type="text" value="" class="form-control" name="options" aria-label="Text input with checkbox">
							</div>
						{{/for}} --}}

						</div>
					</div>
					<hr>
					<div id="question_fields">

					</div>
					<div class="mt-4 mb-4 d-flex flex-row-reverse">
						
						<button class="btn btn-success btn-md" type="button"  onclick="question_fields();"> + Add Item </button>					
					</div>
					<div class="m-8 d-flex justify-content-center">
						<button class="btn btn-success btn-md" type="submit" >Save</button>
					</div>
				</form>

			</div>
		</div>
	</div>
</div>

<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        setTimeout(function(){
            $('#sidebar #quiz')[0].click();
            let currentSubPage = $('#sidebar .quizSubMenu')[0];
            $(currentSubPage).addClass('active')

            $('.select2-single').select2();
		},200);
    });

		var room = 1;
    function question_fields() {
 
		room++;
		var objTo = document.getElementById('question_fields')
		var divtest = document.createElement("div");
		divtest.setAttribute("class", "form-group removeclass"+room);
		var rdiv = 'removeclass'+room;
		divtest.innerHTML = `          <div class="row">	<div class="col">	<div class="">	<div class="form-floating mb-3">	<input  name="itemName" required type="text"	class="form-control" id="fullName">	<label for="fullName">Item Name</label>	</div>     </div>	 <div class="">	<div class="form-floating mb-3">	<input  name="itemPrice" required type="text" class="form-control"	id="mobile">	<label for="mobile">Item Price(Rs)</label>	</div>     </div><button style="height: 40px;margin-left:2px;" class="btn col-md-4 col-xs-12  col btn-danger " type="button" onclick="remove_fields('+ room +');"> <span class="glyphicon glyphicon-minus" aria-hidden="true"> Delete</span> </button>	</div>	<div  class="col d-flex flex-column justify-content-between"> <div class="mb-3">	<textarea id="question" name="question" rows="5" cols="26" required type="text" class="form-control "placeholder="Write item Description" aria-describedby="sizing-addon2"></textarea>	</div>	<div class="row d-flex justify-content-between align-items-end flex-row-reverse">	<div class="col">	<label for="formFile" class="form-label">Upload item Image</label>	<input class="form-control" name="1" type="file" id="formFile"> </div> </div>	</div>	</div>`;
		
		objTo.appendChild(divtest)
    }
   function remove_fields(rid) {
	   $('.removeclass'+rid).remove();
   }
</script>