<div>
	{{>header}}
	<div class="wrapper">
		{{>sidebar}}

		<div id="content" class="container-fluid">
			{{#if errorMsg}}
			{{>error}}
			{{/if}}
			{{#if successMsg}}
			{{>success}}
			{{/if}}
			<div class="m-3 p-3 mt-4">
				<h4 class="mb-4">Manage Student</h4>
				<div class="row d-flex justify-content-center">
					<div class="col">
						<form method="POST" action="/student/find-student-batch" id="find-student"
							enctype="multipart/form-data">
							<div for="exampleInputEmail1" class="form-label">Mobile Number</div>
							<div class="row d-flex">
								<div class=" col-xs-12 ">
									<div class="mb-3">


										<select name="batch" required class="form-select select2-single">
											{{#select data.batch}}
											<option value="">Cohort Name</option>
											{{#each batchList}}
											<option value="{{this._id}}">{{this.name}}</option>
											{{/each}}
											{{/select}}
										</select>
									</div>

								</div>
							</div>
							<button type="submit" class="btn btn-primary">Find</button>
						</form>
					</div>
					<div class="col">
						<form method="POST" action="/student/find-student" id="find-student"
							enctype="multipart/form-data">
							<div class="mb-3">
								<label for="exampleInputEmail1" class="form-label">Mobile Number</label>
								<input type="text" name="mobile" class="form-control" id="mobile" required>
							</div>
							<button type="submit" class="btn btn-primary">Find</button>
						</form>

					</div>

				</div>

				<hr>
				<table class="table table-hover">
					<thead>
						<tr>
							<th scope="col">S.no</th>
							<th scope="col">Name</th>
							<th scope="col">WhatsApp Number</th>
							<th scope="col">Batch</th>
							<th scope="col" class="text-center">Actions</th>
						</tr>
					</thead>
					<tbody id="student-table-content">
						{{#each data.result}}
						<tr>
							<th scope="row">{{tableSerialNumber ../currentPage @index}}</th>
							<td>{{this.fullName}}</td>
							<td>{{this.mobile}}</td>
							{{#if this.batch}}
							<td>{{this.batch.name}}</td>
							{{else}}
							<td>No Batch</td>
							{{/if}}

							<td class="d-flex flex-row bd-highlight justify-content-around">
								<a class="btn btn-sm btn-success" href="/student/edit-student/{{this._id}}">Edit</a>
								<a class="btn btn-sm btn-danger" href="/student/delete-student/{{this._id}}" onclick="return confirm('Are you sure to delete this record ?');">Delete</a>
							</td>
						</tr>
						{{/each}}
					</tbody>
				</table>
				<div class="mt-4">
					{{>pagination pageUrl= pageUrl}}
				</div>
			</div>
		</div>
	</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script>
	window.addEventListener('DOMContentLoaded', (event) => {
		setTimeout(function () {
			$('#sidebar #students')[0].click();
			let currentSubPage = $('#sidebar .studentsSubMenu')[1];
			$(currentSubPage).addClass('active')

		}, 200);
	});

</script>